@import '../../scss/index.scss';

.headerApp {
  background-color: $background-ligth;
  border-bottom: 1px solid $border-grey;
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;

  &__search {
    display: flex !important;
    justify-content: center;
  }

  &__logo {
    align-items: center;
    display: flex !important;

    img {
      height: 25px;
    }
  }
}
