@import '../../../scss/index.scss';

.register-form-title {
  font-size: 17px !important;
  margin-bottom: 20px;
  text-align: center;
}

.register-form {
  input {
    background-color: #f9f9f9 !important;
    padding: 13px 15px !important;
  }
}
